/* https://every-single-one-of-the-things.tumblr.com/post/654079514294566912/breath-of-the-wild-2-skyward-sword */

header {
  max-width: max-content;
  margin: auto;
}

body {
  /* background-color: #89e7d0; */
  background-color: #f5faff;
  max-width: max-content;
  margin: auto;
}

h1,
h2,
th {
  font-weight: bold;
  color: #40b29f;
}

td {
  /* color: #40b29f; */
  border: 0.5rem outset #40b29f;
  padding: 1rem;
}

tr * {
  color: #2b8091;
}

table tbody {
  border: 1px solid;
  background-color: #f5faff;
  /* background-color: #89e7d0; */
}

span {
  color: lightcoral;
}

a {
  text-decoration: none;
  text-decoration: underline;
}

button {
  background-color: #2b8091;
  color: white;
}

input[type="text"] {
  width: 250px;
  color: #2b8091;
}
